:root {
  --accent-color: #4d5ae5;
  --text-color: #404bbf;
  --second-color: #2e2f42;
  --link-color: #434455;
  --background-color: #ffffff;
  --footer-text-color: #f4f4fd;
  --primary-font: "Raleway", sans-serif;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--link-color);
  background-color: #ffffff;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/**--------------Header-------------------------------**/
.header-logo {
  font-family: var(--primary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.header-logo span {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
}
.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
.header-menu-link:hover {
  color: var(--text-color);
}
.header-menu-link:focus {
  color: var(--text-color);
}
.header-contacts-link:hover {
  color: var(--text-color);
}
.header-contacts-link:focus {
  color: var(--text-color);
}
.header-contacts-list {
  font-style: normal;
}
.header-contacts-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--link-color);
}
/**--------------MAIN----------------------------------**/
.hero {
  background-color: var(--second-color);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--background-color);
  background-color: var(--second-color);
  text-align: center;
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.hero-btn:focus {
  background-color: var(--text-color);
}
.hero-btn:hover {
  background-color: var(--text-color);
}

.adv-list {
}
.adv-item {
}
.adv-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
.adv-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--link-color);
}
.desc-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--second-color);
}

.team {
  background-color: var(--footer-text-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--second-color);

  text-align: center;
}
.team-item {
}
.team-list {
  background-color: var(--background-color);
}
.team-page-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-color);
  background-color: var(--background-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--link-color);
  background-color: var(--background-color);
}
/**-------------------FOOTER-----------------------------**/
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-text-color);
}
.footer {
  background: #2e2f42;
}
.footer-logo span {
  color: var(--accent-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
}
/**--------------------------------PORTFOLIO--------------------**/
body {
  font-family: "Roboto", sans-serif;
}

.aplication-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background: var(--footer-text-color);
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.aplication-btn:hover {
  color: var(--background-color);
  background-color: var(--text-color);
}
.aplication-btn:focus {
  color: var(--background-color);
  background-color: var(--text-color);
}
.imagess {
}

.imagess-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
.imagess-text-col {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--link-color);
}
/**-------------------FOOTER---------------------**/
.footer-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.footer {
  background: #2e2f42;
}
.footer-logo span {
  color: var(--footer-text-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
}
